---

// import Layout from '../layouts/Layout.astro';
// import Hero from "../layouts/Hero.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Universe from "../components/Universe.astro";
import Footer from "../layouts/Footer.astro";
import Nav from "../layouts/Nav.astro";
import Cards from "../components/Cards.astro";
import tarot from "../assets/tarot.png";
 import chart from "../assets/chart.png";
 import moon from "../assets/moon.png";
// const { Props } = Astro.props;
   
---

<!-- <Hero></Hero> --><!-- <MainLayout title='Welcome to Astro Site!'>
	<p> Lets See what Destiny has for you </p> --><!-- <Card title='Astrology  Wifi'></Card > --><!-- <Universe /> -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
	<link rel="icon" type="image/png"  href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
	<title>Home</title>
  </head>
  <body>
    <Nav />
    <MainLayout />
    <Cards 
	cards={[
	{
        title: "Tarot Cards",
        href: "/tarot",
        image: tarot,
    },
    {
        title: "Analyse Chart",
        href: "/chart",
        image: chart,
    },
    {
        title: "Moon Phases",
        href: "/moon",
        image: moon,
    },
	]}
	/>
    <Universe />
    <Footer />

    <script>
      import "../scripts/nav.js";
    </script>
  </body>
</html>

