---
import MainLayout from "../layouts/MainLayout.astro"
import Card from "../components/Card.astro"

---

<MainLayout title="The 12 signs">
     <!-- Astro Signs -->
     <div class="signs-container">
        <ul class="twelve-signs">
          <li>Aries</li>
          <li>Taurus</li>
          <li>Gemini</li>
          <li>Cancer</li>
          <li>Leo</li>
          <li>Virgo</li>
          <li>Libra</li>
          <li>Scorpio</li>
          <li>Sagitarius</li>
          <li>Capricorn</li>
          <li>Aquarius</li>
          <li>Pisces</li>
        </ul>
      </div>
</MainLayout>
<Card></Card>