<!-- ---
// import MainLayout from "../layouts/MainLayout.astro"
import FAQ from "../components/FAQ.astro"
import Nav from "../layouts/Nav.astro"
import Footer from "../layouts/Footer.astro";
---


  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signs</title>
  </head>
  <body>
    <Nav />
     <div class="signs-container">
        <ul class="twelve-signs">
          <li>Aries</li>
          <li>Taurus</li>
          <li>Gemini</li>
          <li>Cancer</li>
          <li>Leo</li>
          <li>Virgo</li>
          <li>Libra</li>
          <li>Scorpio</li>
          <li>Sagitarius</li>
          <li>Capricorn</li>
          <li>Aquarius</li>
          <li>Pisces</li>
        </ul>
      </div>

<FAQ />
<Footer />
  <script>
    import "../scripts/nav.js"
    import "../scripts/faq.js"
  </script>
  </body>
  </html>
   -->