---
import "../styles/global.scss";
---
<footer class="p-[0] mx-auto bg-neutral-950 flex justify-between absolute w-[100%] h-[11rem] top-[200em]">
    <span class="text-white">
      © 2023 <a
        href="https://www.deedeeportfolio.com/"
        class="hover:underline text-white"
        target="_blank">Deedee</a
      >
      .All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center gap-x-5 text-white h-20">
      <li>
        <a href="#" class="hover:underline">About</a>
      </li>
      <li>
        <a href="#" class="hover:underline">Privacy Policy</a>
      </li>
      <li>
        <a href="#" class="hover:underline">Contact</a>
      </li>
    </ul>
  </footer>