---
// const {title, image} = Astro.props
import zodiacCirlce from "/tarotSigns.jpeg?url";
import "../styles/global.scss";
---
<section class="hero-section">
  <div class="hero-container">
    <div class="hero--textLeft relative text-white w-[33%] left-[5%] top-[12rem] text-[25px]">
      <p>Welcome to Astro site, curious you.
        Here's a fun fact for you for visiting the unknown.
        Scorpios are most likely to be world leaders, So hello Mr. President?.
      </p>
    </div>
    <div class="hero--imageRight">
      <img  class="relative w-[30%] left-[64%] rounded-[19%] top-[21px]" src={zodiacCirlce}   alt="zodia circle with horescope signs on it">
      <!-- <dotlottie-player class="absolute left-[48%] bottom-[20%]" src="https://lottie.host/4c0c2742-bd17-4ab9-9bb4-05fa4cfee1ba/MvptEtnqSS.json" background="transparent" speed="1" style="width: 51%; height: 51%" direction="1" mode="normal" loop  autoplay></dotlottie-player> -->
      <!-- <video poster="https://motionarray.imgix.net/1695811-zxYkbnVQyD-high_0006.jpg?w=660&amp;q=60&amp;fit=max&amp;auto=format" playsinline="playsinline" class="vjs-tech" data-v-2a12fd61="" id="vjs_video_3_html5_api" tabindex="-1"><source src="https://dsqqu7oxq6o1v.cloudfront.net/1695811-zxYkbnVQyD-high.mp4" type="video/mp4" data-v-2a12fd61=""> <source src="https://dsqqu7oxq6o1v.cloudfront.net/1695811-zxYkbnVQyD-high.webm" type="video/webm" data-v-2a12fd61=""> <source src="/assets/images/site/thumb_placeholder.png" type="video/ogg" data-v-2a12fd61="">
      <source src="https://dsqqu7oxq6o1v.cloudfront.net/1695811-zxYkbnVQyD-high.mp4" type="video/mp4" data-v-2a12fd61="">
      <source src="https://dsqqu7oxq6o1v.cloudfront.net/1695811-zxYkbnVQyD-high.webm" type="video/webm" data-v-2a12fd61="">
      <source src="/assets/images/site/thumb_placeholder.png" type="video/ogg" data-v-2a12fd61="">
    </video> -->
    </div>
  </div>
</section>
<!-- <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> -->