---
const { title } = Astro.props;
import "../styles/global.scss";
import Card from "../components/Card.astro";
import Hero from "../layouts/Hero.astro";
// import Universe from "../components/Universe.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <!-- <link rel="icon" type="image/png" href="favicon/favicon.ico" /> -->
    <title>{title}</title>
  </head>
  <body>

    <div class="container flex flex-col mx-auto h-screen text-white" id="astro-title">
      <h1 class="text-white text-4xl mb-10 ml-30px">{title}</h1>
      <slot />
    </div>

    <Hero />

    

    <!-- <Universe /> -->

    
  </body>
</html>
