@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url("/images/universe.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#astro-title {
    margin: 51px 0 0 39px;
}
/* MainLayout */
/* Hero Banner */
.hero-container {
    bottom: 300px;
}
/* nav {
    background-color: black;
} */

nav ul li a:hover {
    color: rgb(166, 126, 204);
}

  
  
  
  


/* button:hover {
    cursor: pointer;
    display: inline-block;
} */



/* Signs Layout */
.signs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .twelve-signs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 59%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4px;
  }
  
  .twelve-signs li {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3.5px solid rgb(164 16 242);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding: 25px 27px 22px 39px;
    list-style-type: none;
    cursor: pointer;
    font-size: 33px;
    font-weight: bold;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  /* Cards */
  .cards-container {
    gap: 20px;
    width: 274px;
    margin-left: 40px;
  }
    .tarot-image {
    background-image: url("https://images.unsplash.com/photo-1600430188203-bbb8dac79646?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80");
    width: 385px;
    height: 470px;
  }