@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root{
    --orbitItemSize: 3em;
    --numRings: 3;
} */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url("/darkUniverse.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#astro-title {
    margin: 51px 0 0 39px;
}
/* MainLayout */
/* Hero Banner */
.hero-container {
    bottom: 300px;
}
/* nav {
    background-color: black;
} */

nav ul li a:hover {
    color: rgb(166, 126, 204);
}

#dropdown a {
    color: gray;
}

/* Daily Horoscope Component */
$orbitItemSize: 4.3em;
$map: (ring-0: 12, ring-1: 3, ring-2: 8, ring-3: 3);
$lastRing: 3;


.orbit {
  float: left;
  width: 100%;
  min-width: 100vw;
  min-height: 100vh;
}

.orbit-icon {
  width: $orbitItemSize;
  height: $orbitItemSize;
  line-height: $orbitItemSize;
  font-size: 1.2em;
  border-radius: 50%;
  background: #ccc;
  color: #fff;
  text-align: center;
  display: block;
  cursor: pointer;
}

.orbit-wrap {
  height: 38em;
  list-style: none;
  font-size: 1.3em;
  
  > li {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    &:hover {
      ul {
        border-width: 2px;
        border-color: #fff;
      }
      ~ li ul {
        border-color: rgba(255, 255, 255, 0.2);
        li {
          opacity: 0.4;          
        }
      }
    }
    
  }
}

ul[class^=ring] {
  @extend %ring;
  transition: all 300ms ease-in-out;
  li {
    @extend %orbiting-object;
    transition: all 300ms ease-in-out;
  }
}

@mixin orbit-item($numItems, $numRing) {
  @for $s from 1 through $numItems {  
    // Spread items over the ring
    $deg: calc(380deg / $numItems);
    
    .ring-#{$numRing} > *:nth-of-type(#{$s}) {
      transform: rotate($s * $deg) translate(25em - ($numRing * 2.5)) rotate(-$s * $deg);
    }
  }
}

// Render rings
@for $i from 0 through $lastRing {  
  .ring-#{$i} {
    // decrease each ring in size
    width: 38em - ($i * 5);
    height: 38em - ($i * 5);
    animation: clockwiseRotate 35s - ($i * 5) linear infinite;
    
    i {
      animation: counterClockwiseRotate 35s - ($i * 5) linear infinite;
    }
  }
  
  @include orbit-item(map-get($map, ring-#{$i}), $i);
}


%ring {
  border: solid 1px #7118e2;
  position: relative;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  box-sizing: content-box;
  top: 39em;
  width: 50em;
  height: 50em;
}

%orbiting-object {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: $orbitItemSize;
  height: $orbitItemSize;
  margin: calc(-1 * $orbitItemSize /2);
}

/*
  center;
*/
.orbit-center {
  z-index: 5;
  font-size: 2em;
  width: 1.8em;
  height: 1.8em;
  line-height: 1.8em;
  text-align: center;
  background: hotpink;
  border-radius: 50%;
  
  &:hover .orbit-center__icon {
    transform: rotateZ(0deg);
  }
}
.orbit-center__icon {
  transform: rotateZ(-360deg);
  transition: all 300ms ease-in-out;
}
.orbit-wrap > li.orbit-center:hover ~ li > ul {
  width: 0;
  height: 0;
  * {
    transform: translate(0, 0);
  }
}

/* 
animations 
*/
@keyframes clockwiseRotate {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

@keyframes counterClockwiseRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
      transform: rotate(-360deg);
  }
}

/* 
icons 
*/
$icons : (
  ('firefox', rgb(167 139 250), white),
);

@each $icon in $icons {
  .fa-#{nth($icon, 1)} {
    background: nth($icon, 2);
    color: nth($icon, 3);
  }
}

// Crystal Signs Component
.sign-crystal {
  display: flex;
  justify-content: space-between;
  gap: 9px;
  // opacity: 0;
  &:hover  .crystalSpan {
    display: flex;
    opacity: 1;
  }
}

.crystalSpan {
  display: none;
  // opacity: 0;
  gap: 5px;
}
.sign-crystal:hover + .crystalSpan{
  display: flex;
  opacity: 1;
}
.crystals-Aries {
  color: white;
  border: 3px solid pink;
  border-radius: 50%;
  width: 9vw;
  height: 19vh;
  top: 5px;
  position: relative;
  left: -10em;
  // opacity: 0;
}
.crystals-Gemini {
  color: white;
  border: 3px solid pink;
  border-radius: 50%;
  width: 9vw;
  height: 19vh;
  top: 5px;
  position: relative;  // opacity: 0;
}
.crystals-Taurus {
  color: white;
  border: 3px solid pink;
  border-radius: 50%;
  width: 9vw;
  height: 19vh;
  top: 5px;
  position: relative;
  left: -7em;
}
.crystals-Cancer {
  color: white;
  border: 3px solid pink;
  border-radius: 50%;
  width: 9vw;
  height: 19vh;
  top: 5px;
  position: relative;
  left: -11em;
}
.crystals-Leo {
  color: white;
  border: 3px solid pink;
  border-radius: 50%;
  width: 9vw;
  height: 19vh;
  top: 5px;
  position: relative;
  left: -7em;
}
.crystals-Virgo {
  color: white;
  border: 3px solid pink;
  border-radius: 50%;
  width: 9vw;
  height: 19vh;
  top: 5px;
  position: relative;
}
.crystals-Libra {
  color: white;
  border: 3px solid pink;
  border-radius: 50%;
  width: 9vw;
  height: 19vh;
  top: 5px;
  position: relative;
  left: -8em;
}
.crystals-Scorpio {
  color: white;
  border: 3px solid pink;
  border-radius: 50%;
  width: 9vw;
  height: 19vh;
  top: 5px;
  position: relative;
  left: -7em;
}
.crystals-Sagitarius {
  color: white;
  color: white;
  border: 3px solid pink;
  border-radius: 50%;
  width: 9vw;
  height: 19vh;
  top: 5px;
  position: relative;
}
.crystals-Capricorn{
  color: white;
  border: 3px solid pink;
  border-radius: 50%;
  width: 9vw;
  height: 19vh;
  top: 5px;
  position: relative;
  left: -11em;
}
.crystals-Aquarius {
  color: white;
  border: 3px solid pink;
  border-radius: 50%;
  width: 9vw;
  height: 19vh;
  top: 5px;
  position: relative;
  left: -7em;
}
.crystals-Pisces {
  color: white;
  color: white;
  border: 3px solid pink;
  border-radius: 50%;
  width: 9vw;
  height: 19vh;
  top: 5px;
  position: relative;
}



footer {
    margin-top: 30%;
}