---
export type Props = {
  title: string;
  href: string;
  image: string;
};

// Get component props from Astro.props
const { href, title, image } = Astro.props;

import "../styles/global.css";
---

<div class="card-container">
  <div class="card-content">
    <h1>{title}</h1>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      I don't chase I attract, what belongs to me will simply find me
    </p>
    <a {href} class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-stone-500 focus:ring-4 focus:outline-none focus:ring-stone-500 dark:bg-transparent dark:hover:stone-500 dark:focus:stone-500">
      Learn More Now!<svg
        class="w-3.5 h-3.5 ml-2"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 5h12m0 0L9 1m4 4L9 9"></path>
      </svg>
    </a>
    <img class="card-image" src={image} alt={title} />
  </div>
</div>
