---
const {image, text} = Astro.props;
---

<div class="universe-container">
    <div class="text-left">
        <p>Get to know and understand the astrological universe and how you can use it to your advantage</p>
        <a  class="text-tag" href="/chart" target="_blank">Start your journey here
        <svg class="text-svg" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
        </a>
    </div>
    <div class="image-container">
        <img class="image-right" alt="universe">
    </div>
</div>